<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="home">
        <div class="content">
            <a href="#" class="logo">Codehal</a>
            <h2>Bienvenido!</h2>
            <h3>Tu Nuevo Sitio Web</h3>
            <pre>lorem ipsum  dolor dudt swre consewrter ,
                adipicion selit beaero asrpweios </pre>
                <div class="icon">
                    <ul>
                        <li id="instagram">
                            <span class="icon"><i class="fab fa-instagram"></i></span>
                            <span class="titulo">instagram</span>
                        </li>
                        <li class="facebook"> 
                            <span class="icon"><i class="fab fa-facebook"></i></span>
                            <span class="titulo">facebook</span>
                        </li>
                        <li class="twi"> 
                        
                            <span class="icon"><i class="fab fa-twitter"></i></span>
                            <span class="titulo">twitter</span>
                        </li>
                        <li> 
                        
                        
                            <span class="icon"><i class="fab fa-github"></i></span>
                            <span class="titulo">github</span>
                        </li>
                        
                    </ul>
                    
                   
                   
                </div>
        </div>
        <div class="login">
            <h2>Iniciar Secion</h2>
            <div class="input">
                <input type="text" class="input1" placeholder="Email" required>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="input">
                <input type="password" class="input1" placeholder="Password" required>
                <i class="fas fa-lock"></i>
            </div>
            <div class="check">
                <label ><input type="checkbox">Remenber me</label>
                <a href="#">Forgot Passaword</a>
            </div>
            <div class="button">
                <button class="btn">Inicar Secion</button>
                <div class="sign-up">
                    <p>Don't have an account</p>
                    <a href="#">Iniciar Seccion</a>
                </div>
            </div>

            
        </div>
    </div>
</body>
</html>